<div class="card">
  <%= cl_image_tag card.photo.key, crop: :fill %>
  <div class="card-body">
    <h1 class="card-title"><%= card.name %></h1>
    <p class="card-text"><%= card.description %></p>
    <%= link_to "See Card's details", card_path(card), class: "card-button" %>
  </div>
</div>
