body {
  background-color: #EBECF2;
  font-family: 'Open Sans', sans-serif;
}

.titles {
  font-family: 'Beleren Bold';
}

.container-index-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
