.btn-ghost {
  position: absolute;
  right: 3%;
  color: white;
  border: 1px solid #4A4A4A;
  background-color: #167FFB;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s ease;
  position: right;

  &:hover{
    opacity: 1;
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #167FFB;
  transition: background 0.3s ease;
  &:hover {
    background: #E22324;
    color: white;
  }
}
