.btn-ghost {
  position: absolute;
  right: 3%;
  color: white;
  border: 1px solid #4A4A4A;
  background-color: #167FFB;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s ease;
  position: right;

  &:hover{
    opacity: 1;
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #167FFB;
  transition: background 0.3s ease;
  &:hover {
    background: #E22324;
    color: white;
  }
}

.index-button-position {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.card-button {
  color:#ffda00;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  border:2px solid #ffda00;
  padding:10px 10px 10px 40px;
  font-size:12px;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/COMdoWZ.png);
  background-size:12px 12px;
  background-repeat:no-repeat;
  background-position: 7% 50%;
  border-radius:5px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  &:hover {
    color: #000000;
    background-color: #ffda00;
    background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/343086/rFQ5dHA.png);
    background-size:12px 12px;
    background-repeat:no-repeat;
    background-position: 10% 50%;
    cursor: pointer;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
  }
}
.card-button-position-one {
  position: absolute;
  right: 170px;
  bottom: 33px;
}

.card-button-position-two {
  position: absolute;
  right: 14px;
  bottom: 33px;
}

.card-home-button-position {
  position: absolute;
  right: 50px;
  bottom: 33px;
}
