//HOME
.card {
  display: flex;
  height: 500px;
  width: 0px;
  background-color: rgba(210, 202, 228, 0.287);
  border-radius: 10px;
  box-shadow: 0 1rem rgba(126, 114, 153, 0.287);
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card-deck {
  margin-bottom: 2rem;
};

.card:not(:first-child) {
    margin-left: 10px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 80px;
  transition: 0.4s ease-out;
}

.card-photo {
  height:"200" 
}

.card-title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

// SHOW
.cards-show {
  background-color: rgb(83, 74, 74);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: inline-table;
	margin: 2% 35% 10%;
	overflow: hidden;
  width: 33%;
  height: -webkit-fill-available;
}

.cards-show:hover {
  
}


.cards-photo-2 {
  margin: inherit;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cards-info {
	padding: 5px 20px;
	position: relative;
	width: 100%;
}

.cards-text {

}

.cards-btn-1 {
  background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 6px 41px;
	position: absolute;
	bottom: -60px;
	right: 160px;
	letter-spacing: 1px;
}

.cards-btn-2 {
  background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 9px 8px;
	position: absolute;
	bottom: -60px;
	right: 15px;
	letter-spacing: 1px;
}

img {
  border-radius: 10%;
}

p {
  margin-top: auto;
  margin-bottom: auto;
}